@model ConversorMoedas.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTransaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTransaction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginCoin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginCoin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinyCoin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinyCoin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinyValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConversionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeUTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("New", "Create") |
    @Html.ActionLink("Back to List", "Index")
</p>
